.testimonials-bg {
    background-image: linear-gradient(to bottom, #34455596, #071727d7), url('https://img.freepik.com/premium-photo/businesspeople-are-looking-laptop-working-startup-project-office_232070-14958.jpg?size=626&ext=jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
}