.our-service{
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ_EPpATIfWiW9z1bfttmdd3d5W79Hk8xNj805czA2rcIZDGZxg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    
}